requests
google-genai
python-dotenv

duckduckgo-search
edge-tts
pygame
colorama
pyinstaller
pyttsx3
torch
datasets
tqdm
zstandard
langchain-community
langchain-text-splitters
langchain-chroma
langchain-core
langchain-ollama
chromadb
uvicorn
fastapi
python-multipart