flask
gunicorn
requests
google-genai
python-dotenv
werkzeug
duckduckgo-search
edge-tts
Pillow
PyYAML
numpy
sympy
pygame
scipy
moviepy
cachetools
langchain
langchain-community
chromadb
playwright
torch
pyttsx3
TTS
opencv-python